{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="fullscreen parallaxe">
        <div class="row">
            <div class="col-6 offset-3 text-center ">
                <h1>Le site où on vous prends pour des pigeons et on en ri-canne! (celle-là est pour toi Sylvain!)</h1>
            </div>
        </div>
    </div>
    <div class="jumbotron searchBar">
        <div class="row">
            <div class="col-6 offset-3">

            </div>
        </div>
    </div>
    <div class="fullscreen parallaxe">

    </div>
{% endblock %}
