{% extends 'base.html.twig' %}

{% block body %}
    <div class="checkBody">
    <div class="row text-center">
        <div class="col-sm-12">
            <h3>Vous allez recevoir un email de confirmation.</h3>
            <h4> Veuillez cliquer sur le lien pour activer votre compte.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 container checkRegister"></div>
    </div>
    </div>
{% endblock %}