{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="col-4 offset-3">
        <h1>Nouvelle Catégorie</h1>

        {{ include('category/_form.html.twig') }}
    </div>

{% endblock %}