.account-block {
    background-color: transparent;
    position: relative;
    left: 19vw;
    height: 77vh;
}

.list-group-item {
    background-color: lightcyan;
}
.duckProfile {
    background-image: url("../images/animal-2029283_1280.png");
    height: 33vh;
    width: 16vw;
    background-repeat: no-repeat;
    background-size: 99%;
}