@import "~bootstrap/dist/css/bootstrap.css";

.custom-file-label::after {
    content: 'Parcourir';
}

.editProfile {
    height: 80vh;
}

.newProduct {
    height: 82vh;
}

.registerBody {
    height: 80vh;
}

.logBody {
    height: 80vh;
}

.rounded-circle {
    width: 3vw;
}

.row {
    margin: 0;
    padding: 0;
}

.confirmBody {
    height: 80vh;
}

.checkBody {
    height: 80vh;
}

.bg-custom {
    background-color: black;
    opacity: 0.8;
}

.jumbotron {
    background-color: transparent;
}

.fullscreen {
    height: 100vh;
    width: 100%;
    background-image: url('../images/rubber-duck-1401225_1920.jpg');
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}

.admin {
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    background-image: url("../images/penguin-311501_1280.png");
    background-size: 55%;
    background-repeat: no-repeat;
}

.client {
    height: 100%;
    width: 100%;
    background-image: url("../images/Daffy_Duck.png");
    background-size: 35%;
    background-repeat: no-repeat;
}

.no-result {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/sad-1676720_1280.png");
    background-size: 30%;
    background-repeat: no-repeat;
}

.parallaxe {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.myFooter, .myFooter a:link, .myFooter a:visited , .myFooter a:hover, .myFooter a:active {
    text-decoration: none;
    color: white;
    font-size: calc(13px + 11 * (100vw - 200px) / 1400);
}

p {
    font-size: calc(11px + 10 * (100vw - 200px) / 1400);
}

h1 {
    font-size: calc(20px + 15 * (100vw - 200px) / 1400);
}

h2 {
    font-size: calc(19px + 14 * (100vw - 200px) / 1400);
}
h3 {
    font-size: calc(17px + 12 * (100vw - 200px) / 1400);
}

h4 {
    font-size: calc(15px + 11 * (100vw - 200px) / 1400);
}

h5 {
    font-size: calc(13px + 11 * (100vw - 200px) / 1400);
}

.title {
    position: relative;
    top: 30vh;
    background-color: black;
    opacity: 0.7;
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}
.first {
    margin-top: -10vh;
}
.searchButton {
    position: relative;
    top: 6px;
    height: 40px;
}

.blockSearch {
    width: 80vw;
    height: 83vh;
}
.cardImgTop {
    width: 80%;
    height: 40%;
}
.card-body {
    max-height: 10vh;
}

.fa-twitter {
    color: yellow;
}

.login {
    background-image: url("../images/canard-159511.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.register {
    background-image: url("../images/duck-2236908_1920.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.confirmed {
    background-image: url("../images/219aac1ba37c5270b685406606e1f1fc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.checkRegister {
    background-image: url("../images/egg-2894593_1920.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .register {
        display: none;
    }
    .login {
        display: none;
    }
}