@import "~bootstrap/dist/css/bootstrap.css";

.row {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.bg-custom {
    background-color: #001a00;
}

.jumbotron {
    background-color: #001a00;
}

.fullscreen {
    height: 100vh;
    width: 100%;
    background-image: url('../images/duck-1463317.jpg');
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}

.admin {
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    background-image: url("../images/penguin-311501_1280.png");
    background-size: 55%;
    background-repeat: no-repeat;
}

.no-result {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/sad-1676720_1280.png");
    background-size: 30%;
    background-repeat: no-repeat;
}

.parallaxe {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.myFooter, .myFooter a:link, .myFooter a:visited , .myFooter a:hover, .myFooter a:active {
    text-decoration: none;
    color: white;
}

p {
    font-size: calc(11px + 10 * (100vw - 200px) / 1400);
}

h1 {
    font-size: calc(20px + 15 * (100vw - 200px) / 1400);
}

h2 {
    font-size: calc(19px + 14 * (100vw - 200px) / 1400);
}
h3 {
    font-size: calc(17px + 12 * (100vw - 200px) / 1400);
}

h4 {
    font-size: calc(15px + 11 * (100vw - 200px) / 1400);
}

h5 {
    font-size: calc(13px + 11 * (100vw - 200px) / 1400);
}

.title {
    position: relative;
    top: 30vh;
    background-color: #001a00;
    color: antiquewhite;
}
.first {
    margin-top: -11vh;
}
.searchButton {
    position: relative;
    top: 6px;
    height: 40px;
}

.searchBar {
    margin-bottom: 0;
    color: white;
}
.cardImgTop {
    width: 80%;
    height: 40%;
}
.card-body {
    max-height: 10vh;
}