{% extends 'base.html.twig' %}

{% block title %}Modifier un département{% endblock %}

{% block body %}
    <div class="col-5 offset-3">
        <h1>Modifier un département</h1>

        {{ include('department/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="text-center">
            {{ include('department/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}