{% extends 'base.html.twig' %}

{% block title %}Liste des départements{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Liste des départements</h1>
            <ul>
                {% for department in departments %}
                    <li class="mb-2">{{ department.name }}
                        <a href="{{ path('department_show', {'id': department.id}) }}" class="btn btn-info ml-2">Voir</a>
                        <a href="{{ path('department_edit', {'id': department.id}) }}" class="btn btn-warning">Modifier</a>
                    </li>
                {% else %}
                    <li>Aucune département en base</li>
                {% endfor %}
            </ul>
            <a href="{{ path('department_new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>
{% endblock %}