{% extends 'base.html.twig' %}

{% block title %}Nouveau Département{% endblock %}

{% block body %}
    <div class="col-5 offset-3">
        <h1>Nouveau Département</h1>

        {{ include('department/_form.html.twig') }}
    </div>

{% endblock %}