<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <title>{% block title %}Le mauvais coin coin!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>

        </header>
        <div class="row">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-3 col-6 offset-3 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block content %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
