<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Email</title>
</head>
<body>
<h1>Confirmation d'inscription au site Le Mauvais Coin Coin</h1>
<h2>{{ user.firstName }} {{ user.lastName }},</h2>
<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</body>
</html>